.header {
		background: grey;

	}

.header:after {
	content: "";
	display: table;
	clear: both;
}

h1 { background-color: #4aaaa5; }


footer { 
	background-color: gray;
	position: fixed; bottom: 0; left: 0;
	height: 60px;
	width: 100% ;
	text-align: center;
	line-height: 60px; 
}

img{
	float: left;
	margin-right: 10px;
	clear: both;
}

	p{  
		margin-left: 0px;
		overflow: auto;
		display: block;
		line-height: 2.0em;


}
